Data
.*
!.git*

Resources/_*

userPreferences.*

Project/Trash/

Preferences/
!Preferences/4DPop AppMaker.xml

Project/DerivedData/

Settings/
!Settings/buildApp.4DSettings

Resources/php.ini
Libraries/lib4d-arm64.dylib
Build/Components/4DPop XLIFF Pro.4dbase/Resources/php.ini
Build/Components/4DPop XLIFF Pro.4dbase/_gsdata_
zzz.xlf
