Data
.*
!.git*

Resources/_*

userPreferences.*

Project/Trash/

Preferences/
!Preferences/4DPop AppMaker.xml

Project/DerivedData/

Settings/
!Settings/buildApp.4DSettings

Resources/php.ini
Libraries/lib4d-arm64.dylib
