# Ignore invisible files/folders except .gitignore
.*
!.gitignore

#--------------------------------
# Ignore data file
#--------------------------------
[dD][aA][tT][aA]/
*.4DD
*.4DIndx
*.4DIndy
*.Match
*.journal

#--------------------------------
# Ignore derived data
#--------------------------------
Project/DerivedData/

#--------------------------------
# Ignore settings & preferences
#--------------------------------
Preferences/
!Preferences/4DPop AppMaker.xml
!Preferences/4DPop XLIFF.settings

Settings/
!buildApp.4DSettings

userPreferences.*/

#--------------------------------
# Ignore Trash
#--------------------------------
Project/Trash/

#--------------------------------
# Ignore backup
#--------------------------------
*.4BK
backupHistory.json

#--------------------------------
# Miscellaneous
#--------------------------------
*__Orphan__*
*symbols.txt
ehthumbs.db
Thumbs.db

Resources/php.ini

Components/
!Build/Components

Project/Sources/Methods/00_*.4dm

Libraries/lib4d-arm64.dylib

DEV/

#--------------------------------
# [!] Never omit forms
#--------------------------------
!**/Forms/*/

#--------------------------------
# Temporary Forms & Methods
#--------------------------------
Project/Sources/Forms/Form[0-9]/
Project/Sources/Forms/Form[0-9][0-9]/
Project/Sources/Methods/Method[0-9].4dm
Project/Sources/Methods/Method[0-9][0-9].4dm

#--------------------------------
# Added by user
#--------------------------------
Resources/_*
*.bbprojectd
Preferences/4DPop XLIFF.settings
Project/Sources/dependencies.json
/Components
