<?xml version="1.0" encoding="UTF-8" standalone="no" ?><plist version="1.0">	<dict>		  <key>CFBundleDevelopmentRegion</key>		  <string>French</string>		  <key>CFBundleName</key>		  <string>4DPop XLIFF Pro</string>		  <key>CFBundleDisplayName</key>		  <string>4DPop XLIFF Pro</string>		  <key>CFBundleExecutable</key>		  <string>4DPop XLIFF Pro</string>		  <key>CFBundleShortVersionString</key>		  <string>DEV</string>		  <key>CFBundleLongVersionString</key>		  <string>DEV</string>		  <key>CFBundleIdentifier</key>		  <string>com.4D.4DPop XLIFF Pro</string>		  <key>NSHumanReadableCopyright</key>		  <string>© 4D SAS 2007-2018</string>		  <key>CFBundleVersion</key>		  <string>17</string>		  <key>CFBundleGetInfoString</key>		  <string>DEV</string>	</dict></plist>